body {
    margin: 0 !important;
    font-family: 'Arial', sans-serif !important;
  }
  a {
    color: black ;
    text-decoration: none !important;
  }
 a.btn-dark {
     color: #fff importanat; 
     background-color: #212529; 
    border-color: #416c97;
}
  ::-webkit-input-placeholder { color: black !important; }
  :-moz-placeholder { color: black !important; }
  ::-moz-placeholder { color: black !important; }
  :-ms-input-placeholder { color: black!important; }
  
  .content {
    max-width: 1000px !important;
    margin: 0 auto !important;
  }
  
  /*///////// NAV /////////*/
  nav a { display: block !important; }
  nav a.underlined {
    text-align: center !important;
    border-bottom: 4px solid transparent !important;
  }
  nav a.underlined:hover { border-bottom-color: #262626 !important; }
  nav #logo-menu li:nth-child(2) a.underlined:hover { border-bottom-color: #18b !important; }
  nav #logo-menu li:nth-child(3) a.underlined:hover { border-bottom-color: #921 !important; }
  nav #logo-menu li:nth-child(4) a.underlined:hover { border-bottom-color: #fe1 !important; }
  nav #logo-menu li:nth-child(5) a.underlined:hover { border-bottom-color: #8ce !important; }
  nav #logo-menu li:nth-child(6) a.underlined:hover { border-bottom-color: #ed3d7d !important; }
  nav #primary-nav a.underlined:hover { border-bottom-color: white !important; }
  nav #sub-nav a.underlined:hover { border-bottom-color: #cc0101 !important; }
  
  nav #logo-menu {
    border-bottom: 1px solid #ccc !important;
  }
  nav #logo-menu .content {
    display: table !important;
    width: 100% !important;
  }
  nav #logo-menu ul {
    display: table-row !important;
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
  }
  nav #logo-menu li {
    display: table-cell !important;
    vertical-align: top !important;
    line-height: 40px !important;
    border-right: 1px solid #ccc !important;
    font-weight: bold !important;
    font-size: 14px !important;
  }
  nav #logo-menu .sign-in img {
    vertical-align: middle !important;
    margin-right: 5px !important;
  }
  nav #logo-menu .search {
    border-right: 0 !important;
  }
  nav #logo-menu .logo { width: 1px !important; }
  nav #logo-menu .search { width: 220px !important; }
  nav #logo-menu .search .search-container {
    margin: 8px !important;
    height: 24px !important;
    background: #e4e4e4 !important;
  }
  nav #logo-menu .search .search-container input,
  nav #logo-menu .search .search-container img { vertical-align: top !important; }
  nav #logo-menu .search .search-container input {
    background: transparent !important;
    border: none !important;
    width: 167px !important;
    padding: 0 0 0 5px !important;
    line-height: 24px !important;
    font-weight: bold !important;
  }
  nav #logo-menu .search .search-container .search-button {
    display: inline-block !important;
    height: 24px !important;
    width: 24px !important;
    text-align: center !important;
  }
  nav #logo-menu .search .search-container .search-button img {
    margin-top: 4px !important;
    vertical-align: top !important;
  }
  nav #logo-menu .logo img {
    display: inline-block !important;
    margin: 8px !important;
    vertical-align: top !important;
  }
  nav #logo-menu .sign-in { width: 170px !important;  }
  nav #logo-menu .sign-in a.underlined { text-align: left !important; }
  nav #logo-menu li a.underlined {
    height: 36px !important;
    padding: 0 15px !important;
  }
  
  nav .red-header { background-color: #cc0101 !important; }
  
  nav #department,
  nav #primary-nav { color: white !important; }
  
  nav #department a {
    color: white !important;
    display: inline-block !important;
  }
  nav #department h1 {
    display: inline-block !important;
    margin: 0 !important;
    padding: 3px 0 !important;
    font-size: 2.8em !important;
    text-transform: uppercase !important;
    font-weight: normal !important;
  }
  nav #department #find-local {
    margin-top: 11px !important;
    padding: 0 25px 0 5px !important;
    float: right !important;
    border: 1px solid rgba(255,255,255,0.3) !important;
    background: url("//static.bbci.co.uk/news/1.66.2287/img/news--icons-sprite.png") no-repeat right -5902px !important;
  }
  nav #department #find-local a {
    margin: 0 !important;
    padding: 4px 5px !important;
    font-size: 1.2em !important;
  }
  nav #department #find-local a:hover { text-decoration: underline !important; }
  nav #department #find-local a p { margin: 0 !important; }
  
  nav #primary-nav {
    border-top: 1px solid rgba(255,255,255,0.3 ) !important;
  }
  nav #primary-nav .content {
    display: table !important;
    width: 100% !important;
  }
  nav #primary-nav ul {
    display: table-row !important;
    height: 36px !important;
  }
  nav #primary-nav li {
    display: table-cell !important;
    position: relative !important;
  }
  nav #primary-nav li:after {
    content: '' !important;
    width: 1px !important;
    height: 18px !important;
    background-color: rgba(255,255,255,0.4) !important;
    position: absolute !important;
    top: 8px !important;
    right: 0px !important;
  }
  nav #primary-nav li:last-child:after {
    content: none !important;
  }
  nav #primary-nav ul li:last-child a {
    padding-right: 20px !important;
  }
  nav #primary-nav ul li:last-child a:after {
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    border-top: 4px solid #fff !important;
    content: '' !important;
    height: 0 !important;
    position: relative !important;
    right: -10px !important;
    top: 11px !important;
    width: 0 !important;
  }
  nav #primary-nav ul li:last-child a:hover {
    background-color: black !important;
    border-bottom-color: black !important;
  }
  nav #primary-nav a {
    font-size: 15px !important;
    color: white !important;
    padding: 8px 12px !important;
    max-height: 16px !important;
  }
  nav #primary-nav ul li a.active { border-bottom-color: white !important; }
  
  nav #sub-nav ul {
    margin: 6px 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
  }
  nav #sub-nav ul li {
    position: relative !important;
    display: inline-block !important;
  }
  nav #sub-nav ul li:after {
    content: '' !important;
    width: 1px !important;
    height: 15px !important;
    background-color: rgba(0,0,0,0.15) !important;
    position: absolute !important;
    top: 5px !important;
    right: 0px !important;
  }
  nav #sub-nav ul li:last-child:after { content: none !important; }
  nav #sub-nav ul li a {
    font-size: 15px !important;
    padding: 3px 12px !important;
  }
  /*///////// End NAV /////////*/
  
  .tag {
    font-size: 80%;
    text-transform: uppercase;
    padding: 0px 4px;
    margin-right: 5px;
  }
  .tag.sport { background-color: #ffdf43; }
  
  main {
    margin-top: 20px;
  }
  main .content { position: relative; }
  
  main .main-content,
  main .sidebar {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }
  
  main .main-content {
    width: 70%;
    padding: 0 15px 0 6px;
  }
  main .main-content article {
    position: relative;
    min-height: 270px;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #eee;
  }
  main .main-content article img.article-image {
    float: right;
    margin-left: 10px;
  }
  main .main-content article h2 {
    font-size: 2em;
    margin: 10px 0;
    color: black;
  }
  main .main-content article a:hover h2 { color: #1167a8; }
  main .main-content article p {
    color: #5a5a5a;
    line-height: 1.2em;
    font-size: 0.9em;
  }
  article .post-data {
    display: inline-block;
    font-size: 0.8em;
    margin: 0 0 0 -10px;
    padding-left: 30px;
    background-image: url("//static.bbci.co.uk/news/1.66.2287/img/news--icons-sprite.png");
    background-position: left -4011px;
    background-repeat: no-repeat;
  }
  article .post-data a.country {
    color: #cc0101;
    margin-left: 15px;
    position: relative;
  }
  main .main-content article .post-data a.country:hover { color: #1167a8; }
  main .main-content article .post-data a.country:before {
    content: '';
    position: absolute;
    top: 1px;
    left: -8px;
    width: 1px;
    height: 15px;
    background: #ddd;
  }
  main .main-content article .related-links {
    position: relative;
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 1.6em;
  }
  main .main-content article .related-links:before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 40px;
    height: 1px;
    background: #cc0101;
  }
  main .main-content article .related-links a:hover { color: #1167a8; }
  main .main-content article .related-links .icon {
    width: 16px;
    height: 16px;
    background: url("//myriad3d.co.uk/asset_hosting/codepen/bbc/sprite-2.png") no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  main .main-content article .related-links .icon.video { background-position: -8px -285px; }
  
  
  
  main .sidebar {
    width: 30%;
    padding-left: 15px;
    border-left: 1px solid #eee;
  }
  main .sidebar h2 {
    margin-top: 0;
    font-weight: normal;
  }
  main .sidebar article { min-height: 60px; }
  main .sidebar article h3 { font-size: 1em; }
  main .sidebar article a:hover h3 { color: #1167a8; }
  main .sidebar article .image {
    position: relative;
    margin-right: 10px;
    float: left;
  }
  main .sidebar article .image .time {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px 8px 6px 20px;
    background: white;
    font-size: 0.8em;
  }
  main .sidebar article .image .time:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 7px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid black;
  }